html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
}
html,body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.section_title{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.container{
    max-width: 1220px;
    margin:0 auto;
    padding: 0 10px;
}
body{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
}
.header{
    background-color: #151515;
}
.header-main{
    background-color:transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
}
.header_inner{
    padding-top: 40px;
    padding-bottom:45px ;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.menu_list{
    display: flex;
    gap:35px;
}
.menu_list-link{
    color: #FFFFFFFF;
    text-transform: uppercase;
    font-weight: 700;
}

.menu_list-link--active{
    color: #0066FF;
}
.main{
    flex-grow: 1;
}
.top{
    color: #FFFFFF;
    text-align: center; 
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}
.title{
    padding-bottom:40px ;
    font-size: 96px;
    font-weight: 700;
}
.top_link{
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}
.footer{
    background-color:#151515;
    color:#FFFFFF;
    padding: 50px 0 32px;
}
.footer_menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footer_menu-list{
    max-width: 250px;
}
.footer_menu-item + .footer_menu-item{
    padding-top: 20px;
}
.footer_menu-title{
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
}
.app{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
}
.footer_copy{
    max-width: 800px;
    text-align: center;
    margin:0 auto 30px
}
.footer_copy-text{
    font-size: 12px;
    line-height: 1.1;
}
.copy_nav-list{
    justify-content: center;
    display: flex;
    gap: 40px;
}
.swiper-slide{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    width: 120px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 0;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 50px;
}
.why_list{
    padding: 150px 0;
}
.why_list-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);   
    gap: 40px;
    text-align: center;
}    
.why_list-img{
    margin-bottom: 30px;
}
.why_list-title{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}
.why_list-text{
    text-align: left;
}
.how_list{
    padding-bottom: 150px;
}
.how_list-inner{
    max-width:600px;
    margin: 0 auto;
}
.section_title-mini{
    font-size: 24px;
    padding-top: 50px;
    font-weight: 700;
}
.how_list-list{
    padding: 50px 0 70px;
    counter-reset: myCounter;
}
.how_list-item{
    list-style-type: none;
    width: 270px;
    position: relative;
    margin-left: auto;
    box-sizing: content-box;
    padding: 19px 0 19px 240px;
    min-height: 63px;
}
.how_list-item+.how_list-item{
    margin-top: 40px;
}
.how_list-item::before{
    position: absolute;
    counter-increment: myCounter;
    content: counter(myCounter);
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color:#0066FF ;
    font-weight: 700;
    font-size: 48px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #FFFFFF;
    left:0;
}
.video{
    margin-bottom: 150px;
}
.video_title{
    margin-bottom: 20px;
}
.video_text{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.video_content{
    display: block;
    margin: 0 auto;
}
.important {
    margin-bottom: 150px;
}
.important_title {
    margin-bottom: 20px;
}
.important-text {
    margin: 0 auto 50px;
    min-width: 580px;
    width: 580px;
    text-align: left;
    justify-content: center;
    display: block;
}
.important_list {
    display: grid;
    grid-template-columns: repeat(4,1fr);   
}
.important_list-img {
    margin-bottom: 20px;
}
.conatcts {
    margin: 100px auto 150px ;
}
.contacts_title {
    margin-bottom: 19px;
}
.contacts_text {
    Font-weight: 700;
    Font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 100px;
}
.form {
    max-width: 580px;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content:space-between;
}
.form-textarea{
    width: 100%;
    margin: 50px 0;
    padding: 28px 20px;
    border:1px solid #0066FF;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color:#151515;
    resize: none;
    min-height: 290px;
}
l;,e,
.form-textarea::placeholder{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color:#151515;
    opacity: 0.5;
}
.form-input {
    max-width: 270px;
    width: 100%;
    border: 1px solid #0066FF;
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color:#151515
}
.form-input::placeholder{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color:#151515;
    opacity: 0.5;
}
.form-btn {
    padding: 15px 60px;
    background-color: #151515;
    margin: 0 auto;
    border: 0;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
}

.topics {
    margin-bottom: 150px;
}
.topics_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:40px;
    margin-bottom: 70px;
}

.topics_item {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.topics_item-img {
    margin-bottom: 30px;
    width: 100%;
}
.topics_item-text {
    font-size: 24px;
    font-weight: 700;
    flex-basis: 446px;
}
.topics_item-link {
    color:#FFFFFF;
    background-color: #0066FF;
    padding: 4px 20px;

}
.showmore_link {
    background-color:#151515 ;
    color:#FFFFFF ;
    padding:13px 61px ;
    text-transform: uppercase;
    width: 225px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}
.catalog{
    padding: 100px 0 150px;
}
.tabs_content{
    margin-bottom: 70px;
}
.tabs_btn {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    gap:80px;
    padding-bottom: 100px;
}
.tabs_btn-item {
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: 0;
}
.tabs_btn-item--active {
    color: #0066FF;
}
.tabs_content-item {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 100px 40px;
}
.car_card {
    text-align: center;
}
.card-content{
    padding: 0 5px;
    border: 1px solid #0066FF;
    border-top: 0;
}
.card_title {
    padding-top: 20px;
    margin-bottom:20px ;
    font-size: 24px;
    font-weight: 700;
}
.card_text {  
    margin-bottom:20px ;
}
.card_img{
    display: block;
}
.card_price {
    font-size: 24px;
    font-weight: 700;
    padding: 0 5px;
    margin-bottom:20px ;
}
.card_link {
    display: block;
    color: #0066FF;
    border: 1px solid #0066FF;
    border-top: 0;
} 
.credit{
    max-width: 580px;
    margin: 100px auto 150px ;
}
.credit_text{
    padding: 0 10px ;
}
.card_form-input {
    width: 100%;
    border: 1px solid #0066FF;
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color:#151515;
    margin-top: 5px;
}
.card_form-input::placeholder{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color:#151515;
    opacity: 0.5;
}
.credit_btn{
    display: flex;
    margin: 60px auto 0;
}