<!DOCTYPE html>
<html lang="zxx">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>

    <div class="wrapper">

        <header class="header">
            <div class="container">
                <div class="header_inner">
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'img/logo.svg' %}" alt="logo" class="logo_img">
                    </a>
                    <nav class="menu">
                        <ul class="menu_list">
                            <li class="menu_list-item">
                                <a href="{% url 'new_cars' %}" class="menu_list-link menu_list-link--active">NEW CARS</a>
                            </li>
                            <li class="menu_list-item">
                                <a href="https://av.by" class="menu_list-link">PRE-OWNED CARS</a>
                            </li>
                            <li class="menu_list-item">
                                <a href="{% url 'finance'%}" class="menu_list-link">FINANCE</a>
                            </li>
                            <li class="menu_list-item">
                                <a href="{% url 'l_vs_b' %}" class="menu_list-link">LEASE VS BUY</a>
                            </li>
                            <li class="menu_list-item">
                                <a href="{%url 'contacts'%}" class="menu_list-link">CONTACT US</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main class="main">
            <section class="catalog">
                <div class="container">
                  <h2 class="section_title">Choose your car</h2>
                  <div class="tabs">
                    <div class="tabs_btn">
                      <button class="tabs_btn-item tabs_btn-item--active">Car and Minivan</button>
                      <button class="tabs_btn-item">Trucks</button>
                      <button class="tabs_btn-item">Crossovers & SUVs</button>
                      <button class="tabs_btn-item">Electrified</button>
                    </div>
                    <div class="tabs_content">
                      <div class="tabs_content-item">


                        <div class="car_card">
                          <img src="{% static 'img/card-1.jpeg' %}" alt="car-card" class="card_img">
                          <div class="card-content">
                            <h4 class="card_title">Toyota Crown 2023</h4>
                            <p class="card_text">starting from $39,900</p>
                            <p class="card_price">$650/mo</p>
                          </div>
                          <a href="https://www.drive.ru/brands/mercedes/models/2019/maybach_gls/600_4matic" class="card_link">see details</a>
                        </div>


                          {% for car in cars %}
                          <div class="car_card">
                          <img style="border: 1px solid #0066FF" src="{{car.img.url}}" alt="car-card" class="card_img">
                          <div class="card-content">
                            <h4 class="card_title">{{ car.name }}</h4>
                            <p class="card_text">starting from ${{car.price}}</p>
                            <p class="card_price">${{car.month_price}}/mo</p>
                          </div>
                          <a href="https://www.drive.ru/brands/mercedes/models/2019/maybach_gls/600_4matic" class="card_link">see details</a>
                        </div>
                          {% endfor %}




                      </div>
                    </div>
                  </div>
                  <a href="#" class="showmore_link">SHOW MORE</a>
                </div>
              </section>

            <section class="topics">
                <div class="container">
                    <div class="topics_items">
                        <div  class="topics_item">
                            <img src="{% static 'img/topicks-1.jpeg' %}" alt="topic" class="topics_item-img">
                            <p class="topics_item-text">An easier way to buy your next Toyota</p>
                            <a href="https://www.toyota.com/smartpath/how-it-works/" class="topics_item-link">more</a>
                        </div>
                            <div  class="topics_item">
                            <img src="{% static 'img/topics-2.jpeg' %}" alt="topic" class="topics_item-img">
                            <p class="topics_item-text">A Guide to Road-Tripping With Pets</p>
                            <a href="https://medium.com/healthypets/a-pet-parents-guide-to-road-trips-59ea88762f46" class="topics_item-link">more</a>
                        </div>
                    </div>
                <a href="https://www.mercedes-benz.com/en/vehicles/mercedes-maybach/the-new-mercedes-maybach-gls/" class="showmore_link">SHOW MORE</a>
                </div>
            </section>

        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer_menu">
                    <ul class="footer_menu-list">
                        <li class="footer_menu-item">
                            <p class="footer_menu-title">Products</p>
                        </li>
                        <li class="footer_menu-item">
                            <a href="https://av.by" class="footer_menu-link">Used</a>
                        </li>
                        <li class="footer_menu-item">
                            <a href="{% url 'new_cars'%}" class="footer_menu-link">New</a>
                        </li>
                        <li class="footer_menu-item">
                            <a href="https://av.by" class="footer_menu-link">Sell your car</a>
                        </li>
                    </ul>
                    <ul class="footer_menu-list">
                        <li class="footer_menu-item">
                            <p class="footer_menu-title">Resources</p>
                        </li>
                        <li class="footer_menu-item">
                            <a href="https://github.com/ourcompan1" class="footer_menu-link">Blog</a>
                        </li>
                        <li class="footer_menu-item">
                            <a href="https://www.mercedes-benz.co.uk/passengercars/services/faq.html" class="footer_menu-link">FAQ</a>
                        </li>
                        <li class="footer_menu-item">
                            <a href="{% url 'contacts'%}" class="footer_menu-link">Contact us</a>
                        </li>
                    </ul>
                    <ul class="footer_menu-list">
                        <li class="footer_menu-item">
                            <p class="footer_menu-title">Work With TrueCar</p>
                        </li>
                        <li class="footer_menu-item">
                            <a href="https://github.com/ourcompan1" class="footer_menu-link">Dealers</a>
                        </li>
                        <li class="footer_menu-item">
                            <a href="https://av.by" class="footer_menu-link">Partners</a>
                        </li>
                    </ul>
                    <ul class="footer_menu-list">
                        <li class="footer_menu-item">
                            <p class="footer_menu-title">About</p>
                        </li>
                        <li class="footer_menu-item">
                            <a href="{% url 'index'%}" class="footer_menu-link">About us</a>
                        </li>
                        <li class="footer_menu-item">
                            <a href="https://github.com/ourcompan1" class="footer_menu-link">Team</a>
                        </li>
                        <li class="footer_menu-item">
                            <a href="https://alizing.by/career" class="footer_menu-link">Careers</a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app_item">
                        <a href="#" class="app_item-link">
                            <img src="{% static 'img/appstore.svg' %}" alt="appstore" class="app_item-img">
                        </a>
                    </li>
                    <li class="app_item">
                        <a href="#" class="app_item-link">
                            <img src="{% static 'img/playmarket.svg' %}" alt="googleplay" class="app_item-img">
                        </a>
                    </li>
                </ul>
                <div class="footer_copy">
                    <p class="footer_copy-text">
                        For questions about the TrueCar Auto Buying Service please call 1-888-878-3227.
                        Certified Dealers are contractually obligated by TrueCar to meet certain customer
                        service requirements and complete the TrueCar Dealer Certification Program.
                    </p>
                    <p class="footer_copy-text">
                        TrueCar does not broker, sell, or lease motor vehicles. Unless otherwise noted,
                        all vehicles shown on this website are offered for sale by licensed motor vehicle
                        dealers. All vehicles are subject to prior sale. By accessing this website,
                        you agree to the TrueCar Terms of Service and Privacy Policy.
                    </p>
                </div>
                <nav class="copy_nav">
                    <ul class="copy_nav-list">
                        <li class="copy_nav-item">
                            <a href="https://www.mbusa.com/content/dam/mb-nafta/us/legal/mbrace_Terms_of_Service.pdf" class="copy_nav-link">Terms of Service</a>
                        </li>
                        <li class="copy_nav-item">
                            <a href="https://www.mercedes-benz.ca/en/legal-notices/privacy-policy#:~:text=At%20Mercedes-Benz%20Canada%20Inc.%20(MBC)%2C,at%20our%20corporately%20owned%20dealerships" class="copy_nav-link">Privacy Policy</a>
                        </li>
                        <li class="copy_nav-item">
                            <a href="https://www.mbusa.com/en/legal-notices/privacy-statement" class="copy_nav-link">Do Not Sell My Personal Information</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>

</body>
</html>